* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: lightskyblue !important;
}

/* Navbar Section */
.navbar {
    background-color: transparent !important;
    height: 10vh !important;
    position: fixed !important;
    width: 100vw !important;
}

.navbar-brand {
    color: #ffffff !important;
    font-family: 'Share Tech Mono', monospace !important;
    /* font-family: 'Calligraffitti', cursive !important; */
    font-size: 35px !important;
    font-weight: 300 !important;
}

.nav-link {
    font-family: 'Share Tech Mono', monospace !important;
    text-transform: uppercase !important;
    color: #ffffff !important;
    margin-right: 20px !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    transition-duration: 1.5s !important;
}

.nav-link:hover {
    color: black !important;
}

/* Jumbotron Section */
body {
    padding-top: 10vh !important;
}

.jumbotron-fluid{
    width: 100vw !important;
    color: white !important;
    opacity: 0.87 !important;
    background-image: linear-gradient(to right, #484848, #555555, #636363, #717171, #808080);
    font-family: 'VT323', monospace !important;
    height: 20vh !important;
    line-height: 150px !important;
    text-align: center !important;
}

.jumbotron-fluid h3 {
    font-size: 55px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    letter-spacing: 5px !important;
    /* padding-top: 35px !important; */
}

#changling {
    color: #828282 !important;
}

/* Landing Img */
#me {
    width: 50vw !important;
    height: 70vh !important;
    margin-left: -15px !important;
}

/* Landing intro */

#blurb {
    height: 70vh !important;
    width: 40vw !important;
    padding-top: 100px !important;
    padding-left: 30px !important;
}

#blurb h5 {
    margin-top: 35px !important;
}

#landingbtn {
    margin-top: 5px !important;
}
