/* Globals */
html {
    width: 100% !important;
    overflow-x: hidden !important;
}
body {
    font-family: 'Roboto', sans-serif !important;
    padding-top: 10vh;
}

.section-title {
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 45px;
    color: black;
}

/* NAVBAR */

.navbar {
    background-color: #6BA4C7;
    height: 10vh;
    opacity: 0.9;
    transition-duration: 1s !important;
    padding: 0;
    font-family: 'Share Tech Mono', monospace;
    color: white;
}

.navbar-brand {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    transition-duration: 1s !important;
    padding-left: 3vw;
}

/* Set navbar links to only have a coloured bg if in md screen with dropdown button */
@media (min-width: 768px) {
    #navbarResponsive {
        background-color: transparent !important;
    }
}

#navbarResponsive {
    background-color: #6BA4C7;
    transition-duration: 1s;
}

.nav-link {
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    transition-duration: 1.0s !important;
    font-weight: 300;
    padding-right: 20px !important;
    margin-left: 8px !important;
}

.nav-link:hover {
    color: black !important;
}

.navbar-brand:hover {
    color: black !important;
}

#hamburger {
    margin-right: 5vw;
    transition-duration: 1s !important;
}

#hamburger:hover {
    color: black !important;
}

/* LANDING Section */

#landing {
    min-height: 90vh;
}

/* Rotating text on simple jumbotron*/
.content {
    width: 100vw;
    background-image: linear-gradient(to right, #4d4d4d, #595959, #666666, #737373, #808080);
    height: 20vh;
}
/* Surrounding text from rotating words */
.slider-wrapper {
    font-size: 50px;
    color: white;
    font-family: 'VT323', monospace;
}

/* Hide overflow and set masking div height to hide other words*/
.slider {
    height: 75px;
    padding-left: 20px;
    overflow: hidden;
}

/* Run animation */
.slider-text1 {
    animation: slide 10s linear infinite;
}

/* Set height and margin bottom to slide up to iterate over words*/
.slider div {
    color: deepskyblue;
    /* color: #00B4D8; */
    height: 75px;
    margin-bottom: 75px;
    text-align: center;
    box-sizing: border-box;
}

/* Slide animation */
@keyframes slide {
    0% {margin-top: -750px;}
    5% {margin-top: -600px;}
    20% {margin-top: -600px;}
    25% {margin-top: -450px;}
    40% {margin-top: -450px;}
    45% {margin-top: -300px;}
    60% {margin-top: -300px;}
    65% {margin-top: -150px;}
    80% {margin-top: -150px;}
    85% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

#landing .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* LANDING IMG */

#landing-pic {
    width: 50vw;
    height: 70vh;
    padding: 0px;
}

#me {
    width: 100%;
    height: 100%;
}

/* LANDING INTRO */

#blurb {
    height: 70vh;
    width: 50vw;
    background-color: #6BA4C7;
    color: white;
}

#options {
    font-size: 60px;
}

#options a {
    text-decoration: none;
    color: inherit;
}

#options i:hover {
    transition-duration: 1s;
    color:#343a40;
}

#gitoption {
    padding-right: 30px;
}

#scrolloption {
    padding-left: 30px;
}

/* SKILLS */

#skills {
    /* background-color: #90e0ef; */
    min-height: 100vh;
    background-color:#87CEFA;
}

#cards ul {
    list-style-type: circle;
}

.card {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    background-color: white;
}

.card-title {
    text-align: center;
}

/* ICONS Sub-section */

#icons .card {
    background-color: transparent !important;
    border-color: transparent;
    text-align: center;
}

#icons i {
    font-size: 75px;
    padding-bottom: 20px;
}

/* PROJECT section */

#projects {
    /* background-color: #caf0f8; */
    background-color: #90e0ef;
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 25px;
}

#projects .card {
    border-color: transparent;
    margin-bottom: 75px !important;
}

#projects .card-text {
    margin: 15px;
}


#projects .card i {
    margin-left: 3px;
}

#projects button {
    margin: 10px;
    margin-top: 20px;
    transition-duration: 0.3s;
}

.badge-pill {
    width: fit-content;
    padding: 5px 15px;
    margin: 5px;
}

/* ABOUT */

#about {
    width: 100vw !important;
    height: 100vh !important;
}

/* Hero Section */
.hero {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.hero::before {
    /* background-image: url(/img/pacman.gif); */
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
}

.hero::after {
    /* background-color: darkslategray; */
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

/* Hero Content */
#heromsg {
    color: white;
    min-width: 100%;
    height: 100%;
}

.hero-msg p {
    padding: 0;
    margin: 0;
    height: fit-content;
}

/* CONTACT  */

#contact {
    /* background-image: linear-gradient(to top, #b0e0e6, #7bd1ea, #40bff4, #00aafd, #1e90ff); */
    background-image: linear-gradient(to bottom, #d2d2d2, #c5c9df, #abc3ec, #7ec0f8, #00bfff);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#closing {
    text-align: center;
    font-size: 18px;
}

#email-row, #linked-row, #github-row {
    text-align: center;
}


#contact button{
    border-radius: 0;
    padding: 5px 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 250px;
    transition: 1.5s;
}

#contact i {
    margin-left: 3px;
}

#contact a {
    text-decoration: none;
    color: inherit;
}

#linked-btn {
    background-color: #0077B5;
}

#contact button:hover {
    transform: scale(1.20);
}

/* make col larger so footer will be at bottom */
#github-col {
    margin-bottom: 19vh;
}


/* Footer row */

#copyright {
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 3px;
    font-size: 16px;
}

#copy {
    margin-bottom: 0px !important;
    margin-top: 8px;

}

#socials i {
    font-size: 30px;
    padding-right: 20px;
}