* {
    padding: 0px;
    margin: 0px;
}

.navbar {
    background-color: transparent !important;
    height: 70px !important;
    position: fixed !important;
    width: 100vw !important;
}

.navbar-brand {
    color: blue !important;
    font-family: 'Share Tech Mono', monospace !important;
    font-size: 25px !important;
}

.nav-link {
    font-family: 'Share Tech Mono', monospace !important;
    text-transform: uppercase !important;
    color: blue !important;
    margin-right: 20px !important;
    font-size: 20px !important;
}

body {
    padding-top: 70px !important;
}

.jumbotron-fluid{
    width: 100vw !important;
    color: white !important;
    opacity: 0.87 !important;
    background-image: linear-gradient(to right, #686166, #635d60, #5e595b, #595656, #535252) !important;
    font-family: 'VT323', monospace !important;
    height: 150px !important;
    line-height: 150px !important;
    text-align: center !important;
}

.jumbotron-fluid h3 {
    font-size: 55px !important;
    line-height: 1.5 !important;
    display: inline-block !important;
    vertical-align: middle !important;
    letter-spacing: 5px !important;
    /* padding-top: 35px !important; */
}

#changling {
    color: #828282 !important;
}

